[submodule "emacs-reveal"]
	path = emacs-reveal
	url = https://gitlab.com/oer/emacs-reveal.git
[submodule "emacs-libvterm"]
	path = emacs-libvterm
	url = https://github.com/akermu/emacs-libvterm.git
[submodule "ctags"]
	path = ctags
	url = https://github.com/universal-ctags/ctags.git
